
.services-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: 40px auto;
}

.flex-item {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 5px;
}

/* TABLET STYLING */

@media only screen and (max-width: 768px) {

}