.page-container {
  width: 100%;
}

.main-back-button {
  position: relative;
  height: 43px;
  position: fixed;
  left: 10px;
  top: 10px;
}

.main-back-button:hover {
  cursor: pointer;
}

.dark {
  background-color: #22212B;
  box-shadow: 0 0 10px rgb(53, 52, 52);
  color: white;
  padding: 50px;
}

.light {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  box-shadow: 0 0 10px rgb(53, 52, 52);
  padding: 50px;
}

.title-block {
  padding-top: 150px;
  padding-bottom: 50px;
}

.intro {
  
  margin-bottom: 50px;
}

.intro-text {
  width: 700px;
  margin: 30px auto;
}
.ongoing-intro-text {
  width: 700px;
  margin: 5px auto;
  margin-bottom: 30px;
}

.page-title {
  font-size: 50px;
}
.page-subtitle {
  font-size: 25px;
}

.section-title {
  font-size: 30px;
  margin: 10px;
}

.ongoing-section-title {
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
}


.accent-text {
  color: #A08551 ;
}

/* TABLET STYLING */

@media only screen and (max-width: 768px) {
  .title-block {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .intro-text {
    width: 80%;
    margin: 30px auto;
  }
  .ongoing-intro-text {
    width: 80%;
    margin: 5px auto;
    margin-bottom: 30px;
  }

  .main-back-button {
    position: relative;
    height: 43px;
    position: fixed;
    left: 2%;
    top: 8px;
  }
}


/* MOBILE STYLING */

@media only screen and (max-width: 400px) {
  .title-block {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .intro-text {
    width: 90%;
    margin: 30px auto;
  }
  .ongoing-intro-text {
    width: 90%;
    margin: 5px auto;
    margin-bottom: 30px;
  }
  .main-back-button {
    height: 30px;
  }
}