
.project-image {
  width: 700px;
}

.light-border {
  outline: solid #ffffff 4px;
  outline-offset: 10px;
}

.dark-border {
  outline: solid #22212B 4px;
  outline-offset: 10px;
}

.project-header {
  margin-bottom: 15px;
}

.see-project-button {
  
  width: 150px;
  font-size: 18px;
  margin: 15px auto;
  transition: all 0.4s ease;
  cursor: pointer;
}

.light-button {
  border: solid 2px #22212B;
  color: #22212B;
}

.light-button:hover {
  background-color:  #22212B;
  color: white;
}

.dark-button {
  border: solid 2px #ffffff;
  color: white;
}

.dark-button:hover {
  background-color:  white;
  color: #22212B;
}

/* UPCOMING PROJECTS FLEXBOX */
.current-project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 1px;
}

.project-flex-item {
  width: 25%;
  min-width: 300px;
  margin: 5px;
}

.intro-flex-text {
  margin: 0 auto;
}

.flex-title {
  font-size: 25px;
  margin-top: 10px;
}

.flex-subtitle {
  font-size: 13px;
}

.flex-description {
  font-size: 13px;
}

/* TABLET STYLING */

@media only screen and (max-width: 768px) {
  .project-image {
    width: 80%;
  }
  .project-flex-item {

    margin-bottom: 20px
  }
}

@media only screen and (max-width: 450px) {
  .project-image {
    width: 100%;
  }
  #projects-title-format {
    font-size: 35px ;
  }
}