.about-container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(15, 17, 49);
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.about-me-section {
  height: 100vh;
color: white;
max-width: 1600px;
max-height: 900px;
margin: 0 auto;
overflow: hidden;
}

.about-me-title {
  padding: 1rem 2rem;
  height: 100px;
}

.about-me-title h1 {
  font-size: 30px;
}

 .about-me-footer {
  height: 10%
}

.title-styling {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #A08551;
  height: 50px;
  padding-bottom: 1rem;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
}

.button-styling {
  text-align: center;
  margin: 0 auto 15rem auto;
  width: 130px;
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #A08551;
  height: 45px;
  padding-bottom: 1rem;
  border: white 2px solid;
  z-index: 10;
}

.nav-button-styling {
  text-align: center;
  margin: 1rem 0.5rem 15rem 0.5rem;
  width: 100px;
  font-size: 1rem;
  line-height: 2.3rem;
  color: #A08551;
  height: 40px;
  padding-bottom: 1rem;
  border: white 2px solid;
  display: inline-block;
}

.interests {
  color: #A08551;
}


.about-me-details {
 height: 80%;
 margin: 2px;
}

.about-me-details p {
  color: #A08551;
}

.padded-extra {
  padding: 10px 40px;
}

.headings-info {
  text-align: center;
  margin: 2rem auto;
  width: 300px;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #A08551;
  height: 50px;
  padding-bottom: 1rem;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
}

.about-image-container {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  z-index: -1;
}

.about-me-image {
  height: 280px;
  width: 230px;
  margin: auto;
  margin-top: 50px;
  outline: 4px solid white;
  outline-offset: 15px;
}

.mobile-about-back-button {
  display: none;
}


@media only screen and (max-width: 600px) {

  .about-container {
    width: 100vw;
    max-width: 100vw;
  }

  .about-me-section {
  overflow: visible;
  }

  .about-me-details {
    height: 80%;
    margin: 2px;
   }
  .about-me-title {
    height: 15%
  }

  .about-me-footer {
  display: none
  }

  .about-me-image {
   
    margin: 25% auto;
    outline: 4px solid rgb(25, 29, 82);
    outline-offset: 15px;
  }

  .mobile-padding {
    margin-top: 50px;
  }

  .mobile-padding-philosophy {
    margin-top: 0!important;
  }
  

  .headings-info {
    text-align: center;
    margin: 2rem auto;
    width: 230px;
    font-size: 1.5rem;
    line-height: 2.5rem;

    height: 45px;

  }
  
  .blue-border {
    border-top: rgb(25, 29, 82) 3px solid;
    border-bottom: rgb(25, 29, 82) 3px solid;
  }

  .mobile-image-margin{
    margin-top: 0!important;
  }
  .mobile-about-back-button {
    display: block;
    text-align: center;
  margin: 2rem auto;
  width: 100px;
  font-size: 1.2rem;
  line-height: 2.3rem;
  color: #A08551;
  height: 40px;
  padding-bottom: 1rem;
  border: rgb(25, 29, 82) 2px solid;
  }
}